.c-air {
  width: 433px;
  opacity: 0.8;
  background-image: linear-gradient(
    180deg,
    #88bcff 0%,
    rgba(201, 230, 255, 0) 100%
  );
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  animation: blow 3s linear infinite; // 匀速
  transform-origin: top center;
  &-wrap {
    height: 300px;
  }
  &-heat {
    background-image: linear-gradient(
      180deg,
      #ff9544 0%,
      rgba(255, 219, 185, 0) 100%
    );
  }
}

@keyframes blow {
  0%,
  100% {
    height: 100px;
    opacity: 0.8;
    transform: skew(0deg);
  }
  20% {
    height: 130px;
    opacity: 0.6;
    transform: skew(-10deg);
  }
  40% {
    height: 160px;
    opacity: 0.6;
    transform: skew(-5deg);
  }
  50% {
    height: 200px;
    opacity: 0.6;
    transform: skew(0deg);
  }
  60% {
    height: 160px;
    opacity: 0.6;
    transform: skew(5deg);
  }
  80% {
    height: 130px;
    opacity: 0.6;
    transform: skew(10deg);
  }
}
