.home {
  background-image: url(../../assets/images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  &-mammon {
    height: 50vh;
    // background-image: url(../../assets/images/light.gif);
    // background-size: contain;
    // background-repeat: no-repeat;
  }
  &-processBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    &-processItem {
      background-color: red;
      width: 18vw;
      height: 200px;
    }
  }
  &-person {
    height: 30vh;
  }
}
