.lu-comps {
  position: relative;
  &-processItem {
    width: 25vw;
    height: 194px;
  }
  &-container {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 18rpx 11rpx 33rpx rgb(255, 195, 31);
    background-image: url(../../../../assets/images/coin2.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 60px;
    font-weight: bold;
    &-img {
      height: 16vw;
      width: 9vw;
    }

    &-warter {
      width: 22vw;
      height: 22vw;
      font-size: 36px;
      font-weight: bold;
      position: absolute;
      // background-color: #999;
      color: red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
